
<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
        <br>
    <h2>Edit This Listing</h2><br>
    <form method="POST" action="/listings/<%=listing.id%>?_method=PUT">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label><br>
            <input name="listing[title]" class="form-control" value="<%= listing.title %>" type="text">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label><br>
            <input name="listing[image]" class="form-control" value="<%= listing.image.url%>" type="text">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label><br>
            <textarea name="listing[description]" class="form-control" type="text"><%= listing.description %></textarea>
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label><br>
            <input name="listing[price]" class="form-control" value="<%= listing.price %>">
        </div>
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">country</label><br>
            <input name="listing[country]" class="form-control" value="<%= listing.country %>" type="text">
        </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label><br>
            <input name="listing[location]" class="form-control" value="<%= listing.location %>" type="text">
        </div>
        <br>
        <button class="btn add-btn">Edit</button>
        <br>
    </form>
    <br>
    </div>
</div>